# RabbitMQ connection credentials
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Database connection credentials
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=shortbrew
POSTGRES_POOL_SIZE=5

# Worker configuration
WORKER_PREFETCH_COUNT=10
CLICK_EVENT_MAX_RETRIES=3
